/* app css stylesheet */
body {
  background-color: #ccc;
}
.row, .col {
  overflow: hidden;
  position: absolute;
}

.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

header {
  padding: 10px 0;
  top: 0;
  background: #3498db;
  box-shadow: 0px 1px 4px #665D5D;
}

header h1 {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 1em;
}

.app-body{
  background-color: #2980b9;
  top: 42px;
  bottom: 0;
}

.home-wrap {
  padding: 10px;
  text-align: center;
  color: #fff;
}

.home-wrap a {
  color: #2c3e50;
}

.btn-create {
  margin-top: 5px;
  background-color: #2c3e50;
  color: #fff;
  border: 1px solid #143D66;
  border-radius: 2px;
  font-weight: bold;
  padding: 3px 17px;
  text-transform: uppercase;
}

.user-list {
  padding: 5px;
  color: #fff;
  font-style: italic;
}

.user {
  padding: 10px;
  text-align: center;
}

.user p {
  color: #fff;
}

input[type="text"], textarea {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 5px;
  outline: none;
}

.input-username {
  text-align: center;
}

.btn-set-name {
  margin-top: 5px;
  background-color: #2c3e50;
  color: #fff;
  border: 1px solid #143D66;
  border-radius: 2px;
  font-weight: bold;
  padding: 3px 17px;
  text-transform: uppercase;
}

.message-form {
  bottom: 0;
}

.message-form table {
  width: 100%;
}

.td-width-0 {
  width: 1%;
}

.input-message-wrap {
  background-color: #ecf0f1;
  padding: 5px;
}

.input-message {
  background-color: #ecf0f1;
  width: 100%;
  padding: 0;
  border: none;
  resize: none;
  height: 19px;
  overflow: hidden;
  margin-top: 8px;
}

.btn-send {
  height: 42px;
  width: 62px;
  border: none;
  background-color: #1abc9c;
  color: #fff;
}

.message-list {
  top: 32px;
  bottom: 44px;
  overflow-y: auto;
}

.message-item {
  position: relative;
  clear: both;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  max-width: 100%;
  margin: 20px;
}

.message-item.me {

}

.message-item.other {
  text-align: right;
}

.message-item-user {
  position: absolute;
  top: -11px;
  background-color: #2ecc71;
  padding: 0px 5px;
  border-radius: 4px;
  color: #fff;
  font-size: 0.75em;
}

.message-item.me .message-item-user{
  left: 0px;
}

.message-item.other .message-item-user{
  right: 0px;
}


.message-item-body {}
.message-item-time {
  color: #2980B9;
  font-size: 0.75em;
}

.scroller {
  height: 100%;
  overflow-y: hidden;
  position: relative;
}

.home-link {
  float: left;
  background-color: #27ae60;
  margin: -10px 0;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

@media only screen and (min-width: 800px) {
  .chat-wrap {
    width: 480px;
    margin: 0 auto;
  }
}